# exception handling

In [8]:
num = int (input("give me the num"))
num1 = int (input("give me the num "))
try:
    res = int(num/num1)
except zerodivi:
    print (yo

give me the num 22
give me the num  0

NameError: name 'zerodivi' is not defined

## loop practice

In [1]:
n = int(input("give mr the num: "))
i = 1
while i<=10:
    print(f"{n} x {i} = {n * i}")
    i+=1

give mr the num:  2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [4]:
n = int(input("give mr the num: "))
i = 1
for x in  i <=10:
    print(f"{n} x {i} = {n * i}")
    i+=1

give mr the num:  3

TypeError: 'bool' object is not iterable

In [13]:
#lst = [1,2,3,4,5,12,7,8,9]
name = ["ahmed", "raza", "azan", "dua", "aliya"]
idx = 0 
while idx < len(name):
    print (name[idx])
    idx +=1

ahmed
raza
azan
dua
aliya

In [15]:
a = 5
b = 2

TypeError: 'int' object is not iterable